<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/login.css">

    <script src="/js/login.js" defer></script>

    <title>Login</title>
</head>

<body>
    <div class="center">
        <div class="grid">
            <div class="logo"></div>
            <form name="login-form">
                <input name="username" id="username" placeholder="Username" type="text">
                <input name="password" id="password" placeholder="Password" type="password">
                <input name="login" id="login" type="button" value="Login">
            </form>
        </div>
    </div>
</body>

</html>